Package: com.dcproducts.libdcweather
Name: libDCWeather
Version: 1.0.0
Architecture: iphoneos-arm
Description: A weather fetching library for jailbroken iOS devices.
Maintainer: Derek Calabro
Author: Derek Calabro
Section: Development
Tag: role::developer